.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: gold;
  background: url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Navbar CSS */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #07121a;
  text-transform: uppercase;
}
.navbar-logo{
  display: flex;
  flex: 1;
  justify-content: left;
  margin: auto;
}
.navbar-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: inherit;
  outline: none;
}

/* Home CSS */
.homeDiv{
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  background-color: #07121a;
  background-image: url(./images//leagueTransparent.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 37vh;
  height: 70%;
  width: 80%;
}

/* Main SummonerInfo DIV CSS */
.summonerInfo{
  margin: 05%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background: #07121a;
  height: auto;
  width: auto;
}
.summonerInfo-Obtained{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Error Image, Try Again Button, WrongSpellingDiv CSS */
.errorImage{
  background: url(./images/sorry.gif);
}
.wrongSpellingDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
#tryAgainButton{
  text-align: center;
  width: 30%;
  height: 105px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#tryAgainButton:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

 /* Search Summoner Input and Button CSS */
.searchTextButton{
  display: flex;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#searchSummoner{
  text-align: center;
  width: 300px;
  height: 100px;
  margin-top: 30px;
}
#searchSummonerButton{
  text-align: center;
  width: 30%;
  height: 105px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#searchSummonerButton:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}


/* Participants Box Info */
.participants-div{
  width: 500px;
  height: auto;
  border: 2px solid navy;
  border-radius: 20px;
  margin: 20px;
  background-color: #0b2c44;
}

.article {
  color: #fff;
  margin-bottom: 40px;
  padding: 20px 20px 50px 20px;
  background-color: #000;
}

.article-body {
}

/* Footer CSS */
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 05%;
  background-color: #07121a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}