.App {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  color: gold;
  background: url('./images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ~~~~~~~~~~~~~~~~~~~~~ Navbar CSS ~~~~~~~~~~~~~~~~~~~~~ */
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: #07121a;
  text-transform: uppercase;
  box-shadow: 0 4px 6px 0 gold;
}

.navbar-logo {
  display: flex;
  flex: 1;
  justify-content: left;
  margin: auto;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: inherit;
  outline: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Home CSS ~~~~~~~~~~~~~~~~~~~~~ */
.homeDiv {
  display: flex;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  background-color: #07121a;
  background-image: url(./images//leagueTransparent.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 37vh;
  height: 70%;
  width: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Main SummonerInfo DIV CSS ~~~~~~~~~~~~~~~~~~~~~ */
.summonerInfo {
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background: #07121a;
}

.summonerInfo-Obtained {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Error Image, Try Again Button, WrongSpellingDiv CSS ~~~~~~~~~~~~~~~~~~~~~ */
.errorImage {
  background: url(./images/sorry.gif);
}

.wrongSpellingDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  font-size: 20px;
}

#tryAgainButton {
  text-align: center;
  width: 30%;
  height: 100px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 25px;
}

#tryAgainButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Search Summoner Input and Button CSS ~~~~~~~~~~~~~~~~~~~~~ */
.searchTextButton {
  display: flex;
  margin-bottom: 10%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#searchSummoner {
  text-align: center;
  width: 300px;
  height: 100px;
  margin-top: 30px;
}

#searchSummonerButton {
  text-align: center;
  width: 30%;
  height: 105px;
  margin-top: 30px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#searchSummonerButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}


/* ~~~~~~~~~~~~~~~~~~~~~ Participants Box Info ~~~~~~~~~~~~~~~~~~~~~ */
.participants-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 20px;
}

.participants-div {
  width: 500px;
  height: auto;
  border: 2px solid navy;
  border-radius: 20px;
  margin: 20px;
  background-color: #0b2c44;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Article CSS ~~~~~~~~~~~~~~~~~~~~~ */
.backgroundNewsDiv {
  color: #092949;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
}

.articles {
  background-image: url('./images/league\ girls.png');
  background-size: contain;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  height: auto;
  width: 80%;
  color: #fff;
  background-color: #092949;
  padding-top: 10px;
  padding-bottom: 30px;
}

.article {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60%;
  border-radius: 30px;
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 40px 30px 40px;
  background-color: #2b3241;
}

.article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.article-list-body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Buttons on Article Page CSS ~~~~~~~~~~~~~~~~~~~~~ */
#editButton {
  text-align: center;
  width: 70px;
  height: 50px;
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  background-color: #1a6a96;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#editButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #1a6a96;
}

#saveButton {
  text-align: center;
  width: 70px;
  height: 50px;
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#saveButton:hover {
  background-color: white;
  color: black;
  border: 2px solid green;
}

#deleteButton {
  text-align: center;
  width: 70px;
  height: 50px;
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 4px;
  background-color: #8f1218;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#deleteButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #8f1218;
}

#createButton {
  text-align: center;
  width: 100px;
  height: 50px;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#createButton:hover {
  background-color: white;
  color: black;
  border: 2px solid #f4511e;
}

.create-article-form {
  background-color: #000;
  padding: 50px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~ Footer CSS ~~~~~~~~~~~~~~~~~~~~~ */
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 05%;
  background-color: #07121a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}